@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradiant-pink-spot-1 {
  width: 323px;
  height: 248px;
  filter: blur(34px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(176, 3, 207, 0.74) 2%,
    rgba(2, 64, 105, 0) 100%
  );
}
.bg-gradiant-blue-spot-1 {
  width: 358px;
  height: 274px;
  filter: blur(34px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(3, 126, 207, 1) 7%,
    rgba(2, 97, 160, 0.4) 25%,
    rgba(2, 64, 105, 0) 100%
  );
}
.bg-gradiant-blue-spot-2 {
  background: radial-gradient(
    ellipse at center,
    #037ecf 7%,
    #0261a04e 25%,
    transparent 100%
  );
  filter: blur(78px);
}

.bg-conic-gradient {
  background: conic-gradient(from -99deg, #262626 0%, #55a6c6 12%, #262626 0%);
}

.bg-radial-gradient {
  background: radial-gradient(
    farthest-corner at 70px 5px,
    #4d97cf 1%,
    #4d97cf 5%,
    #262626 27%,
    #262626
  );
}
